@charset "utf-8";

@import url("https://use.typekit.net/hye7dbv.css");

// Font.
$font: (head: ("Paralucent",
    sans-serif),
  body: ("Paralucent Text",
    sans-serif),
  mono: ("Fira Mono",
    monospace),
);

// Palette.
$palette: (primary: #111A20,
  secondary: #1C2C35,
  meta: #243B4A,
  border: #416782,
  accent: #1CEDCA,
  acchyp: #BAEDA5,
  accqte: #F05D5E,
  accent-blue: #10bcf9,
  accent-violet: #9371e6,
  accent-orange: #fc6e51,
  txth10: #ECF8FF,
  txtp20: #CDE2F0,
  txtmet: #7AB6D9);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
